/* --reset-- */

* {
  box-sizing: border-box;
}

body{
  font-family: monospace;
  background-color: #FAF7F5;
  color: #030C09;
  padding: 2rem;
}

header {
  padding: 0 0 2rem 0;
}

h2 {
  padding: 0 0 1rem 1rem;
  font-weight: 600;
}

hr {
  border: 0.5px solid #030C09;
}

.boxes {
  display: flex;
  gap: 2rem;
  padding: 0 0 2rem 0;
}